<form class="login-form">
    <img src="img/user-image.png">
    <div class="control-group">
        <label for="email" class="sr-only">E-mail address</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required autofocus>
    </div>
    <div class="control-group">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Sign in</button>
</form>
<a class="signup-link" href="/signup">Create an account.</a>
