<div class="navbar-header">
    <a class="navbar-brand" href="{{^user}}/login{{/user}}"><span class="glyphicon glyphicon-book"></span> PasteBox</a>
</div>
    {{#user}}
    <!-- search -->
    {{/user}}
<ul class="nav navbar-nav navbar-right">
    {{#user}}
    <li><a href="/profile" class="profile-link">{{user.username}}</a></li>
    <li><a href="/logout" class="logout-link">Logout</a></a></li>
    {{/user}}
    {{^user}}
    <li><a href="/login" class="login-link">Log In</a></li>
    <li><a href="/signup" class="signup-link">Sign Up</a></a></li>
    {{/user}}
</ul>
