<div class="column sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/snippets/new" class="new-snippet-link"><span class="glyphicon glyphicon-file"></span> New Snippet</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/snippets/all" class="all-snippets-link"><span class="glyphicon glyphicon-th-list"></span> All Snippets</a></li>
        <li><a href="/snippets/starred" class="starred-snippets-link"><span class="glyphicon glyphicon-star"></span> Starred</a></li>
    </ul>
    <span class="users"></span>
</div>
<div class="column list">
</div>
<div class="column content">
</div>
