<form class="signup-form">
    <img src="img/user-image.png">
    <label for="email" class="sr-only">E-mail address</label>
    <input type="email" id="email" class="form-control" placeholder="E-mail" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" required>
    <input type="text" id="name" class="form-control" placeholder="Name" required>
    <button class="btn btn-primary btn-block" type="submit">Sign up</button>
</form>
<a class="login-link" href="/login">Have an account? Log in.</a>
