<header>
    <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Edit buttons">
        <button type="button" class="btn btn-default link"><span class="glyphicon glyphicon-link"></span> Link</button>
        <button type="button" class="btn btn-default fork"><span class="glyphicon glyphicon-export"></span> Fork</button>
        <button type="button" class="btn btn-default edit"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        <button type="button" class="btn btn-default delete"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </div>
    <h2>{{title}}</h2>
    <span>Created {{created}} by <a href="#">{{author}}</a></span>

    <p>{{description}}</p>
</header>
<pre><code class="language-{{language}}">{{code}}</code></pre>
</div>
